<?xml version="1.0"?>
<model>
  <name>Standard Plane with Camera</name>
  <version>1.0</version>
  <sdf version="1.5">myPlaneCam.sdf</sdf>
  <author>
    <name>Aida Bah</name>
    <email>aidasulayb@gmail.com</email>
  </author>
  <description>
    A copy of Gazebo's standard plane model with an added camera sensor.
  </description>
</model>
