<?xml version="1.0"?>
<model>
  <name>suas_geotagged_cam</name>
  <version>1.0</version>
  <sdf version="1.5">suas_geotagged_cam.sdf</sdf>
  <author>
    <name>Aida Bah</name>
    <email>aidasulayb@gmail.com</email>
  </author>
  <description>
    A copy of Gazebo Classic's geotagged camera model. Created to simualte AirCraft Lab's fixed-wing vehicle, "Dragonfly", for the SUAS 2025 competition.
  </description>
</model>